<body>
    <div class="sur-newsinfo cfnews-detail">
        <div class="news-nav-title"><a href="/"><?=\YII::t('common','Home')?></a>
        <h1>GAME</h1>
        <div class="news-detail-box" style="border: none;border-bottom: 1px dotted #958779">
            <div style="text-align:center;"><img src="<?=__IMG__?>/cf-intr.jpg" alt="Mutantbox"></div>
            <p class="news-p"><a href="javascript:;"><time></time></a></p>
	        <p class="detail-info" style="color: #000000;font-size: 18px;">
                <?=\YII::t('common','GameDescription')?>
			</p>
        </div>
    </div>
</body>
